# Data artefacts
# data/
# data/raw/
# data/interim/
# data/processed/

# Virtual environments
.venv/

# Outputs
# figures/
# tables/
manuscript/build/
notebooks/*.executed.ipynb
em-submission/
em-submission.zip
tmp/

# TeX aux files
manuscript/*.aux
manuscript/*.log
manuscript/*.out
manuscript/*.toc
manuscript/*.synctex.gz
manuscript/*.fdb_latexmk
manuscript/*.fls
manuscript/*.bbl
manuscript/*.blg
*.pyc

# Preprint artefacts
preprint/*.pdf
preprint/*.aux
preprint/*.log
preprint/*.out
preprint/*.fls
preprint/*.fdb_latexmk
