# Data artefacts
# data/
# data/raw/
# data/interim/
# data/processed/

# Virtual environments
.venv/

# Outputs
# figures/
# tables/
manuscript/build/
notebooks/*.executed.ipynb

# TeX aux files
manuscript/*.aux
manuscript/*.log
manuscript/*.out
manuscript/*.toc
manuscript/*.synctex.gz
manuscript/*.fdb_latexmk
manuscript/*.fls
manuscript/*.bbl
manuscript/*.blg
*.pyc
