tmp/
*.pyc
.venv
dbhdistfit-hps/data.local/
# LaTeX temp/build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glo
*.glg
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdv
_minted*/
.latexmk

# CJFR manuscript working files (keep only source + Makefile)
dbhdistfit-hps/manuscript-cjfr/*
!dbhdistfit-hps/manuscript-cjfr/Makefile
!dbhdistfit-hps/manuscript-cjfr/main.tex
!dbhdistfit-hps/manuscript-cjfr/references.bib
!dbhdistfit-hps/manuscript-cjfr/main.pdf
!dbhdistfit-hps/manuscript-cjfr/appendix.tex
!dbhdistfit-hps/manuscript-cjfr/appendix.pdf
