tmp/
*.pyc
.venv
# LaTeX temp/build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glo
*.glg
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdv
_minted*/
.latexmk
