# Virtual environment
.venv/

# Build artefacts
figures/
tables/
manuscript-r0/build/
manuscript-r1/build/
notebooks/*.executed.ipynb
tmp/

# LaTeX aux files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.lof
*.lot
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.xdv

# Python cache
*.pyc
__pycache__/
